<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <client>
      <endpoint name=""
                address=""
                binding="netTcpBinding"
                contract="PowerShellTerminal.Middleware.Network.IServerEngine" />
    </client>
  </system.serviceModel>


  <appSettings>
    <add key="DefaultAddress" value="net.tcp://localhost:2020/Server"/>
  </appSettings>

</configuration>