<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="PowerShellTerminal.Server.Network.ServerEngine">
        <endpoint address="net.tcp://localhost:2020/Server"
                  binding="netTcpBinding"
                  contract="PowerShellTerminal.Middleware.Network.IServerEngine" />
      </service>
    </services>
  </system.serviceModel>

</configuration>